
@{
    ViewBag.Title = "YeniDizi";
    Layout = "~/Views/AdminShared.cshtml";
}

<form method="post" class="form-group">
    <div class="col bg-danger">
        <div class="row pt-4">
            <div class="col"><center><input type="text" style="width:100%" placeholder="Film AD" name="Dizi_AD" value="" /></center></div>
            <div class="col"><center><input type="text" style="width:100%" placeholder="Film Puan" name="Dizi_Puan" value="" /></center></div>
        </div>
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col"><center><input type="text" style="width:100%" placeholder="Film Tür" name="Dizi_Tür" value="" /></center></div>
            <div class="col"><center><input type="text" style="width:100%" placeholder="Film Dil" name="Dizi_Kurdele" value="" /></center></div>
        </div>
        <div class="row mt-2">
            <div class="col"><center><input type="text" style="width:100%" placeholder="Film Resim Url" name="Dizi_Resim_Url" value="" /></center></div>
        </div>
        <div class="row justify-content-center"><button class="btn-info">Ekle</button></div>
    </div>
</form>



